.bg-cover-center {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.float-bottom {
  position: absolute;
  bottom: 0;
}

.bg-grey {
  background-color: $light-grey;
}

.bg-dark-grey {
  background-color: $dark-grey;
}
