//Responsiveness Breakpoints
@mixin breakpoint($breakpoint) {
  @if $breakpoint==xl {
    @media only screen and (min-width: 1201px) {
      @content;
    }
  }
  @if $breakpoint==lg {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint==md {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}

// Browser Prefixes
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

// Rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// Skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}
