.btn {
  font-size: 14px;
  border: 0;
  color: white;
  font-size: 14px;
  height: fit-content;

  &-primary {
    padding: 10px 20px;
    &:hover {
      background-color: rgba($primary, 0.75);
    }
  }

  &-secondary {
    padding: 10px 20px;
    &:hover {
      background-color: rgba($secondary, 0.75);
    }
  }

  &-transparent {
    background: none;
    border: 1px solid white;
  }

  &-link {
    text-decoration: none;
    font-weight: 600;
    padding-left: 0;
    &:hover {
      color: rgba($white, 0.6);
    }
  }

  &-form {
    padding: 12px 15px;
  }
}
