.btn {
  font-size: 14px !important;
  border: 0 !important;
  padding: 10px 20px !important;
  color: white !important;
  font-size: 14px !important;

  &-primary {
    &:hover {
      background-color: rgba($primary, 0.75) !important;
    }
  }

  &-secondary {
    &:hover {
      background-color: rgba($secondary, 0.75) !important;
    }
  }

  &-transparent {
    background: none !important;
    border: 2px solid white !important;
  }

  &-heat {
    border-radius: 14px !important;
    padding: 0px 20px !important;
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight: 700 !important;
    color: white !important;
    line-height: 0px !important;
  }

  &-hot {
    border: 2px solid $red !important;
    background-color: rgba($red, 0.5) !important;
    &:hover {
      color: $red !important;
      background-color: rgba($red, 0.4) !important;
    }
  }

  &-medium {
    border: 2px solid $orange !important;
    background-color: rgba($orange, 0.5) !important;
    &:hover {
      color: $orange !important;
      background-color: rgba($orange, 0.4) !important;
    }
  }

  &-cold {
    border: 2px solid $yellow !important;
    background-color: rgba($yellow, 0.5) !important;
    &:hover {
      color: $yellow !important;
      background-color: rgba($yellow, 0.4) !important;
    }
  }
}
